services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=UTC
    volumes:
      - ~/persistent/jellyseerr/config:/app/config
    ports:
      - "5055:5055"
    networks:
      - home-server
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

networks:
  home-server:
    external: true