name: cloudflare-ddns

services:
  ddns:
    image: favonia/cloudflare-ddns:1.15.1
    container_name: cloudflare-ddns
    restart: unless-stopped
    environment:
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
      DOMAINS: reza.network
      # UPDATE_CRON: "*/5 * * * *"  # optional: customize the update schedule


