services:
  swag:
    image: linuxserver/swag:5.2.2
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - URL=reza.network
      - VALIDATION=http
      - SUBDOMAINS=budget,hi,panel
      - EMAIL=${LETSENCRYPT_EMAIL}
      - STAGING=false
      - CERTPROVIDER=
    volumes:
      - ~/persistent/swag/config:/config
    ports:
      - "443:443"
      - "80:80"
    networks:
      - home-server
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

networks:
  home-server:
    external: true