services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "1000:1000"
    ports:
      - '8096:8096' # HTTP web UI
      - '8920:8920' # Optional: HTTPS web UI
      - '7359:7359/udp' # Optional: Client discovery
      - '1900:1900/udp' # Optional: DLNA service
    volumes:
      - ~/persistent/jellyfin/config:/config
      - ~/persistent/jellyfin/cache:/cache
      - type: bind
        source: ~/media/movies
        target: /media/movies
        read_only: true
      - type: bind
        source: ~/media/tv
        target: /media/tv
        read_only: true
    restart: 'unless-stopped'
