services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "1000:1000"
    network_mode: 'host'
    volumes:
      - ~/persistent/jellyfin/config:/config
      - ~/persistent/jellyfin/cache:/cache
      - type: bind
        source: ~/media/movies
        target: /media/movies
        read_only: true
      - type: bind
        source: ~/media/tv
        target: /media/tv
        read_only: true
    restart: 'unless-stopped'
