services:
  sonarr:
    image: linuxserver/sonarr:4.0.16
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ~/persistent/sonarr/config:/config
      - ~/media:/media
    ports:
      - 8989:8989
    networks:
      - home-server
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G

networks:
  home-server:
    external: true