version: '3.8'

networks:
  home-server-internal:
    external: true
    name: home-server-internal

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      # DNS Ports - must be exposed to host for network-wide DNS
      - "53:53/tcp"
      - "53:53/udp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    # Web interface accessible via internal network and reverse proxy
    expose:
      - "80"
      - "443"
    environment:
      # Set the appropriate timezone for your location
      TZ: 'UTC'
      # Set a password to access the web interface
      FTLCONF_webserver_api_password: '${PIHOLE_PASSWORD}'
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'
      FTLCONF_dns_listeningMode: 'all'
      # Upstream DNS servers (Cloudflare and Google)
      FTLCONF_dns_upstreams: '1.1.1.1;1.0.0.1;8.8.8.8;8.8.4.4'
    # Volumes store your data between container upgrades
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - ~/services/pihole/etc-pihole:/etc/pihole
      # Uncomment the below if you have custom dnsmasq config files that you want to persist
      #- './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # Required capabilities as per Pi-hole documentation
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    networks:
      - home-server-internal
    restart: unless-stopped
